# Dependency directories
node_modules/

# Build directories
/build/
/dist/
/out/

# Environment variables file
.env

# Logs
*.log

# IDE/Editor specific files
.vscode/
.idea/
*.iml

# Test coverage directory
coverage/

# Misc
.DS_Store
